@media (max-width: 500px){
  .header__title{
    display: none;
  }
  .footer{
    display: none;
  }
  .header .wrapper{
    display: flex;
    justify-content: flex-end;
  }
  .wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .main{
    min-height: 93vh;
    height: 100%;
  }
  .main .wrapper{
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task-list{
    width: 100%;
  }
}