.task-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 20px 30px;
  margin: 20px 0;
  background: white;
  border-radius: 5px;
}
.task-page__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-page__header-title{
  font-size: 24px;

}
.task-page__body{
  margin-top: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.task-page__body-text{
  word-break: break-all
}
.task-page__body-button{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  height: 30px;
  background: #0079BF;
  color: white;
}
.task-page__body-editor{
  width: 100%;
  border: none;
  height: 100%;
}
